p {
  font-family: $p-font-family;
}

.titulo {
  font-size: 3rem;
  text-align: center;
}

.selectCachorro {
  font-size: 1.3rem;
  text-align: center;
}

p.selectCachorro {
  font-size: 1.3rem;
  text-align: center;
}
